DB_ARCHIVELOG_ENABLED=false
DB_IP_ADDRESS={{ ansible_eth0["ipv4"]["address"] }}
INSTALLATION_OK=true
INSTALLER_UI=silent
IS_DB_HOST=true
IS_DUAL_SERVER=false
IS_FTP_SELECTED=false
IS_HA_SELECTED=false
IS_ORACLE_EMBEDDED=false
IS_SERVER_HOST=true
IS_SUDO_SELECTED=false
IS_TFTP_SELECTED=false
LICENSEAGREED=true 
NEW_INSTALLATION=true
OPTICAL_USER=root
OPTICAL_GROUP=root
ORACLE_USER_HOME=/cporacle
ORACLE_SID=optdb
ORACLE_USER=cporacle
SELECTED_CFG=small
SERVER_HOSTNAME={{ ansible_fqdn }}
SERVER_IP_ADDRESS={{ ansible_eth0["ipv4"]["address"] }}
SUDO_GROUP=root
USER_INSTALL_DIR={{ target_inst_dir }}
